argcomplete==1.12.3
attrs==21.2.0
Beaker==1.10.0
beautifulsoup4==4.9.3
blivet==3.4.3
blivet-gui==2.3.0
Brlapi==0.8.2
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
chrome-gnome-shell==0.0.0
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
cson==0.8
cupshelpers==1.0
dasbus==1.6
dbus-python==1.2.18
decorator==5.0.9
distlib==0.3.2
distro==1.6.0
dnspython==2.1.0
evdev==1.1.2
fedora-third-party==0.8
filelock==3.0.12
Flask==2.1.1
fros==1.1
gpg==1.15.1
gssapi==1.6.14
humanize==0.5.1
idna==3.2
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.1
koji==1.27.1
langtable==0.0.56
libcomps==0.1.18
lutris==0.5.9.1
lxml==4.6.5
Mako==1.1.4
MarkupSafe==2.0.0
meson==0.59.4
mutagen==1.45.1
mysql-connector==2.2.9
nftables==0.1
ntplib==0.3.3
numpy==1.21.5
olefile==0.46
ordered-set==4.0.1
packaging==21.0
Paste==3.5.0
pexpect==4.8.0
pid==2.2.3
Pillow==8.3.2
platformdirs==2.2.0
pluggy==0.13.1
ply==3.11
podman-compose==1.0.3
productmd==1.33
progressbar2==3.53.2
psutil==5.8.0
ptyprocess==0.6.0
pwquality==1.4.4
py==1.11.0
pycairo==1.20.1
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.14.0
pycups==2.0.1
pycurl==7.44.1
pyenchant==3.2.2
pygit2==1.6.1
Pygments==2.9.0
PyGObject==3.42.0
pyinotify==0.9.6
pykickstart==3.34
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.11.7
PyQt5==5.15.6
PyQt5-sip==12.9.0
PySocks==1.7.1
pytest==6.2.4
python-augeas==1.1.0
python-dateutil==2.8.1
python-dotenv==0.18.0
python-meh==0.50
python-utils==2.5.6
python-xlib==0.31
pytz==2021.3
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.4.1
ranger-fm==1.9.3
regex==2022.1.18
requests==2.27.0
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests_download==0.1.2
rpm==4.17.0
rpmautospec==0.2.5
selinux==3.3
sepolicy==3.3
setools==4.4.0
shtab==1.5.2
simpleaudio==1.0.4
simpleline==1.8.2
six==1.16.0
slip==0.6.4
slip.dbus==0.6.4
solaar==1.1.1
sos==4.2
soupsieve==2.3.1
speg==0.3
SSSDConfig==2.6.3
systemd-python==234
Tempita==0.5.2
termcolor==1.1.0
tldr==3.0.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.7
virtualenv==20.8.1
websockets==10.0
Werkzeug==2.1.1
wxPython==4.0.7
yt-dlp==2022.2.4
