<script src="/static/cookies.js"></script>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" style="float: right;" type="button" id="dropdownMenu3"
        data-bs-toggle="dropdown" data-bs-auto-close="outside">
        Category Filter
    </button>
    <div class="dropdown-menu">
        {% for category in categories %}
        <li>
            <button type="button" class="dropdown-item" data-bs-toggle="button" id="{{ category }}" autocomplete="off"
                onclick="createCategoryTable('{{category}}')">{{category}}</button>
        </li>
        {% endfor %}
    </div>
