{% block rep_range %}
<div class="mx-auto" style="width: 35vw; min-width:50ch" >
    <form action="" method="POST">
    <div class="input-group input-daterange">
        <div class="input-group-addon">Date Range:&nbsp;&nbsp; </div>

        <input name="range_start" type="text" class="form-control" data-date-format="yyyy-mm-dd" 
            data-date-start-date ="{{start}}-01-01" value="{{year_start.isoformat()}}">
        <div class="input-group-addon">&nbsp;&nbsp;to&nbsp;&nbsp;&nbsp;</div>
        <input name="range_end" type="text" class="form-control" data-date-format="yyyy-mm-dd"
             data-date-start-date ="{{start}}-01-01" value="{{today.isoformat()}}">
        <div class="input-group-addon">&nbsp;&nbsp;<button class="btn btn-primary" type="submit">Submit</button></div>
    </div>
    </form>
    
</div>
<br>
{% endblock %}