{% block rep_range %}
<div class="mx-auto" style="width: 35vw; min-width:50ch" >
    <form action="" method="POST">
    <div class="input-group input-daterange">
        <div class="input-group-addon">Date Range:&nbsp;&nbsp; </div>

        <input name="range_start" type="text" class="form-control" data-date-format="yyyy-mm-dd" 
            data-date-start-date ="{{start}}-01-01" value="{{year_start.isoformat()}}">
        <div class="input-group-addon">&nbsp;&nbsp;to&nbsp;&nbsp;&nbsp;</div>
        <input name="range_end" type="text" class="form-control" data-date-format="yyyy-mm-dd"
             data-date-start-date ="{{start}}-01-01" value="{{today.isoformat()}}">
        <div class="input-group-addon">&nbsp;&nbsp;<button class="btn btn-primary" type="submit">Submit</button></div>
    </div>

    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDiv" aria-expanded="false" aria-controls="collapseDiv">
        <i class="fa fa-search"></i>
    </button>

    <div class="w-100 collapse" id="collapseDiv" stype="width:100%;">
        <label>Representative: <input name="member_name" type="text" class="form-control"></label>
        <label>Ticker: <input name="ticker"  type="text" class="form-control"></label>
        <label>Trade Count: <input name="tradeCount" type="number" min="0" class="form-control"></label>
        <label>Purchase Count: <input name="purchaseCount" type="number" min="0" class="form-control"></label>
        <label>Sale Count: <input name="saleCount" type="number" min="0" class="form-control"></label>
        <label>Average Transaction Value: <input name="avgTransactionVal" type="number" min="0" class="form-control"></label>
        <label>Total Purchase Range: 
            <input name="purchaseLowerBound" type="number" min="0" placeholder="min value" class="form-control">
            <input name="purchaseUpperBound" type="number" min="0" placeholder="max value" class="form-control">
        </label>
        <label>Total Sale Range: 
            <input name="saleLowerBound" type="number" min="0" placeholder="min value" class="form-control">
            <input name="saleUpperBound" type="number" min="0" placeholder="max value" class="form-control">
        </label>
    </div>

    </form>
    
</div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
