<div class="mx-auto" style="width: 90vw">
<table class="table table-striped table-hover">
    <thead> <tr>
        <th>id</th>
        <th>Member Name</th>
        <th>Member District</th>
        <th>Company</th>
        <th>Ticker</th>
        <th>Type</th>
        <th>Date</th>
        <th>Value Lower Bound</th>
        <th>Value Upper Bound</th>
        <th>Description</th>
        <th>Link</th>
    </tr> </thead>

    <form action = "" method = "POST">
    <tr id="transactionSearch">
        <td></td>
        <td><input name="member_name" type="text"></td>
        <td><input name="distrNum" type="text"></td>
        <td><input name="company" type="text"></td>
        <td><input name="ticker" type="text"></td>
        <td><select name="transType">
            <option value=""></option>
            <option value="P">Purchase</option>
            <option value="S">Sale</option>
        </select></td>
        <td>
            <select name="transaction_year">
                <option value=""></option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
            </select>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></td>
    </tr>
    </form>

    {# Loops through all transactions returned from the search #}
    {% for entry in data %}
    <tr>
        <td>{{ entry.id }}</td>
        <td>{{ entry.member_name }}</td>
        <td>{{ entry.state_district_number }}</td>
        <td>{{ entry.company }}</td>
        <td>{{ entry.ticker }}</td>
        <td>{{ "Purchase" if "P" == entry.transaction_type else "Sale" }}</td>
        <td>{{ entry.transaction_date }}</td>
        <td>{{ "${:,.2f}".format(entry.value_lb) }}</td>
        <td>{{ "${:,.2f}".format(entry.value_ub) }}</td>
        <td>
            {% if entry.description == "None" %}
                None
            {% else %}
                {% set modal_id = "modal_" + entry.id|string %}
                <a type="button" class="link" data-bs-toggle="modal" data-bs-target="#{{modal_id}}">Description</button>
            {% endif %}
        </td>
        <td><a href="{{ entry.link }}">Source File</a></td>
    </tr>
    {% endfor %}
</table>

{% include "partials/description_modal.html" %}

</div>