
<form action = "" method = "POST">
<legend class="title">Search Query</legend>

<label>Member Name: <input name="member_name" type="text"></label>
<label>State District Number: <input name="distrNum" type="text"></label>
<br>
<br>
<label>Company: <input name="company" type="text"></label>
<label>Transaction Type: <input name="transType" type="text"></label>
<label>Year: </label>
<select name="transaction_year">
    <option value=""></option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>
    <option value="2021">2021</option>
    <option value="2022">2022</option>
</select>
<br>
<br>
<input name="submitButton" type="submit" value="submit">
</form>