<html>
   <body>
      
      <form action = "" method = "POST">
         <h3>Search</h3>
         Member name<br>
         <input type = "text" name = "member_name" /><br>
         
         Transaction date<br>
         <input type = "date" name = "transaction_date" /><br>
         
         Company<br>
         <input type = "text" name = "company" /><br>
         
         <input type = "submit" value = "submit" /><br>
         <label>Year: </label>
            <select name="transaction_year">
                <option value=""></option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
            </select>
      </form>
       
       <table class="table">
			<tr>
                <th>id</th>
				<th>Member Name</th>
                <th>State District Number</th>
				<th>Company</th>
                <th>Ticker</th>
                <th>Transaction Type</th>
                <th>Transaction Date</th>
				<th>Value Lower Bound</th>
                <th>Value Upper Bound</th>
				<th>Description</th>
                <th>Link</th>
			</tr>

			<!-- here is a for-loop to give us all the socks -->
			{% for entry in data %}
			<tr>
				<td>{{ entry.id }}</td>
				<td>{{ entry.state_district_number }}</td>
                <td>{{ entry.company }}</td>
                <td>{{ entry.ticker }}</td>
                <td>{{ entry.transaction_type }}</td>
                <td>{{ entry.member_name }}</td>
				<td>{{ entry.transaction_date }}</td>
				<td>{{ entry.value_lb }}</td>
				<td>{{ entry.value_ub }}</td>
                <td>{{ entry.description }}</td>
                <td>{{ entry.link }}</td>
			</tr>
			{% endfor %}
		</table>
      
   </body>
</html>