h1 {
    text-align: center;
}

fieldset {
    text-align: center;
}

legend {
    color: darkred;
    font-size: 1.5rem;
}

#submitButton {
    border-radius: 0.3rem;
    font-size: 1rem;
}

/* The following are styles for the transaction table */

.styled-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}

.styled-table thead tr {
    background-color: #8b0000;
    color: #ffffff;
    text-align: left;
    border-bottom: 2px solid #8b0000;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
