 <h1 class="pt-5 pb-2">List of entries in demo_table from demo_database</h1>

      <p class="lead alert alert-warning">This is a list of all the entries in our inventory.</p>

		<table class="table">
			<tr>
				<th>id</th>
				<th>Member Name</th>
				<th>Company</th>
				<th>Value</th>
				<th>Transaction Date</th>
			</tr>

			<!-- here is a for-loop to give us all the socks -->
			{% for entry in entries %}
			<tr>
				<td>{{ entry.id }}</td>
				<td>{{ entry.member_name }}</td>
				<td>${{ entry.company }}</td>
				<td>{{ entry.value }}</td>
				<td>{{ entry.transaction_date }}</td>
			</tr>
			{% endfor %}
		</table>