<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <!-- For responsive page -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Basic HTML5 Document" />
    <meta name="keywords" content="HTML5, Responsive" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
	<title>Congressional Stock Trading Monitor</title>
</head>

<body>
	<h1>Congressional Stock Trading Monitor</h1>
    
    <fieldset>
        <br>
        <legend class="title">Search Query</legend>
        <label>Representative Name: <input id="name" type="text"></label>
        <label>State District Number: <input id="distrNum" type="text"></label>
        <br>
        <br>
        <label>Company: <input id="company" type="text"></label>
        <label>Transaction Type: <input id="transType" type="text"></label>
        <label>Year: <input id="year" type="text"></label>
        <br>
        <br>
        <input id="submitButton" type="submit" value="SEARCH">
    </fieldset>
    
    <div>
        
    </div>
    
</body>

</html>
