{% extends "base.html" %}
{% block title %}Transactions{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Congressional Stock Trading Monitor</h1>
        
    <fieldset>
        <br>
        <form action = "" method = "POST">
        <legend class="title">Search Query</legend>
        
        <label>Member Name: <input name="member_name" type="text"></label>
        <label>State District Number: <input name="distrNum" type="text"></label>
        <br>
        <br>
        <label>Company: <input name="company" type="text"></label>
        <label>Transaction Type: <input name="transType" type="text"></label>
        <label>Year: </label>
        <select name="transaction_year">
            <option value=""></option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
        </select>
        <br>
        <br>
        <input name="submitButton" type="submit" value="submit">
        </form>
    </fieldset>

    <div>
    <br>
    </div>
       <table class="table table-striped table-hover">
			<thead> <tr>
                <th>id</th>
				<th>Member Name</th>
                <th>Member District</th>
				<th>Company</th>
                <th>Ticker</th>
                <th>Transaction Type</th>
                <th>Transaction Date</th>
				<th>Value Lower Bound</th>
                <th>Value Upper Bound</th>
				<th>Description</th>
                <th>Link</th>
			</tr> </thead>

			<!-- here is a for-loop to give us all the transactions -->
			{% for entry in data %}
			<tr>
				<td>{{ entry.id }}</td>
				<td>{{ entry.member_name }}</td>
                <td>{{ entry.state_district_number }}</td>
                <td>{{ entry.company }}</td>
                <td>{{ entry.ticker }}</td>
                <td>{{ "Purchase" if "P" == entry.transaction_type else "Sale" }}</td>
                <td>{{ entry.transaction_date }}</td>
				<td>{{ "${:,.2f}".format(entry.value_lb) }}</td>
				<td>{{ "${:,.2f}".format(entry.value_ub) }}</td>
                <td>{{ entry.description }}</td>
                <td><a href="{{ entry.link }}">Source File</a></td>
			</tr>
			{% endfor %}
		</table>
{% endblock %}