<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
<h1>Congressional Stock Trading Monitor</h1>

<fieldset>
    <br>
    <form action="" method="POST">
        <legend class="title">Search Query</legend>

        <label>Member Name: <input name="member_name" type="text"></label>
        <label>Ticker: <input name="ticker" type="text"></label>
        <br>
        <br>
        <label>Company: <input name="company" type="text"></label>
        <input name="submitButton" type="submit" value="submit">
    </form>

</fieldset>
<div class="chart" id="plotly-chart"></div>
<script>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('plotly-chart', graphs, {});
</script>
</body>

</html>

